<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet"
	href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
	integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
	crossorigin="anonymous" />

<style>
#botao {
	position: relative;
	top: 15;
}

.pure-g {
	padding: 0 0 10 10;
}
</style>

<title>Lista de Ocorrências</title>
</head>
<body>
<div class="vertical-menu">
	<a href="#" th:href="@{/ocorrencia}">Registrar</a> <a href="#"
		th:href="@{/ocorrencia/lista}">Listar</a> <a href="#"
		th:href="@{/usuario}">Adicionar Usuário</a> <a href="#"
		th:href="@{/usuario/lista}">Lista de Usuários</a> <a href="#"
		th:href="@{/usuario/alterarsenha}">Alterar Senha</a> <a href="#"
		th:href="@{/logout}">Sair</a>
</div>
</body>
</html>