<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous" />

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
	integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
	integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
	crossorigin="anonymous"></script>
	
	<title>Usuário</title>

<title>Usuário</title>
</head>
<body>
	<div th:replace="fragmentos/menu"></div>

	<div class="container" style="padding:20">

		<h1>Usuário</h1>

		<form method="POST" th:object="${view}" th:action="@{/usuario/salvar}">

			<input type="hidden" id="senha" th:field="*{senha}" /> <input
				type="hidden" id="id" th:field="*{id}" /> <input type="hidden"
				id="enabled" th:field="*{enabled}" />

			<div class="form-group">
				<label for="nome">Nome</label> <input type="text" id="nome"
					class="form-control" th:field="*{nome}" autofocus="autofocus" />
			</div>
			<div class="row">
				<div class="form-group col-sm-6">
					<label for="login">Login</label> <input type="text" id="login"
						class="form-control" th:field="*{login}"
						onblur="checarlogin('#login')" />
					<div id="result"></div>
				</div>
				<div class="form-group col-sm-6">
					<label for="setor">Setor</label> <select id="setor"
						class="form-control" th:field="*{setor}">
						<option value="FC1">FC1</option>
						<option value="FC2">FC2</option>
						<option value="TJRS">TJRS</option>
						<option value="Palácio">Palácio</option>
						<option value="Tristeza">Tristeza</option>
						<option value="Restinga">Restinga</option>
						<option value="4º Distrito">4º Distrito</option>
						<option value="Alto Petropolis">Alto Petropolis</option>
						<option value="Partenon">Partenon</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="obs">Observação</label>
				<textarea id="obs" th:field="*{obs}" class="form-control"></textarea>
			</div>

			<div class="form-group">

					<label class="custom-control custom-checkbox"> <input name="usuario"
						type="checkbox" class="custom-control-input"
						th:checked="*{usuario}" /> <span class="custom-control-indicator"></span>
						<span class="custom-control-description"
						th:text="*{textoRegras[0]}">Check this custom checkbox</span>
					</label> <label class="custom-control custom-checkbox"> <input name="adm"
						type="checkbox" class="custom-control-input" th:checked="*{adm}" />
						<span class="custom-control-indicator"></span> <span
						class="custom-control-description" th:text="*{textoRegras[1]}">Check
							this custom checkbox</span>
					</label> <label class="custom-control custom-checkbox"> <input name="visitante"
						type="checkbox" class="custom-control-input"
						th:checked="*{visitante}" /> <span
						class="custom-control-indicator"></span> <span
						class="custom-control-description" th:text="*{textoRegras[2]}">Check
							this custom checkbox</span>
					</label>
			</div>


			<div class="form-group">
				<button type="submit" class="btn btn-primary" id="salvar">Salvar</button>
			</div>
		</form>

	</div>

</body>
</html>