<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous" />

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
	integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
	integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
	crossorigin="anonymous"></script>

<title>Lista de Usuários</title>

</head>
<body>
	<div th:replace="fragmentos/menu"></div>

	<div class="container" style="padding:20">
		<h1>Relação de Usuários</h1>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Usuário</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item:${lista}">

					<td><a href="/usuario/__${item.id}__"
						th:href="@{/usuario/__${item.id}__}" th:text="${item.id}"></a></td>
					<td th:text="${item.nome}"></td>
					<td th:text="${item.login}"></td>
					<td><a class="pure-button" href="/usuario/reset/${item.id}"
						th:href="@{/usuario/reset/__${item.id}__}">Reset Senha</a></td>
					<td><a class="pure-button" href="/usuario/qdelete/1"
						th:href="@{/usuario/qdelete/__${item.id}__}">Excluir</a></td>
				</tr>
			</tbody>
		</table>


	</div>

</body>
</html>