<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous" />

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
	integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
	integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
	crossorigin="anonymous"></script>

<script type="text/javascript">
	function addPagina(p) {
		$("#pagina").val(p);
		$("form").submit();
	}
</script>

<title>Lista de Ocorrências</title>
</head>
<body>

	<div th:replace="fragmentos/menu"></div>
	<div class="container" style="padding: 20">

		<form th:action="@{/ocorrencia/listar}" method="GET"
			th:object="${view}">

			<input type="hidden" th:field="*{pagina}" value="1" name="pagina"
				id="pagina" />

			<h4>Consulta</h4>
			<div class="row">
				<div class="form-group col-md-2">
					<label for="datainicio">1ª Data</label> <input class="form-control"
						type="text" th:field="*{datainicio}" id="datainicio"
						name="datainicio" placeholder="dd/mm/yyyy" />
				</div>


				<div class="form-group col-md-2">
					<label for="datafim">2ª Data</label> <input class="form-control"
						type="text" th:field="*{datafim}" id="datafim" name="datafim"
						placeholder="dd/mm/yyyy" />
				</div>

				<div class="form-group col-md-2">
					<label for="datainicio">1ª Hora</label> <input class="form-control"
						type="text" th:field="*{horainicio}" id="horainicio"
						name="horainicio" placeholder="hh:mm" />
				</div>
				<div class="form-group col-md-2">
					<label for="horafim">2ª Hora</label> <input class="form-control"
						type="text" th:field="*{horafim}" id="horafim" name="horafim"
						placeholder="hh:mm" />
				</div>
				<div class="form-group col-md-2">
					<label for="turno">Turno</label> <select id="turno" name="turno"
						th:field="*{turno}" class="form-control">
						<option value=""></option>
						<option value="Manhã">Manhã</option>
						<option value="Tarde">Tarde</option>
						<option value="Noite">Noite</option>
					</select>
				</div>

				<div class="form-group  col-md-2">
					<label for="usuario">Usuário</label> <input class="form-control"
						type="text" th:field="*{usuario}" id="usuario" name="usuario" />
				</div>

			</div>
			<div class="row">
				<div class="form-group col-md-2">
					<label for="codigo">Código</label> <input class="form-control"
						type="text" th:field="*{codigo}" id="codigo" name="codigo"
						placeholder="Código" />
				</div>
				<div class="form-group col-md-2">
					<label for="setor">Setor</label> <select class="form-control"
						id="setor" th:field="*{setor}" name="setor">
						<option value=""></option>
						<option value="FC1">FC1</option>
						<option value="FC2">FC2</option>
						<option value="TJRS">TJRS</option>
						<option value="Palácio">Palácio</option>
						<option value="Tristeza">Tristeza</option>
						<option value="Restinga">Restinga</option>
						<option value="4º Distrito">4º Distrito</option>
						<option value="Alto Petropolis">Alto Petropolis</option>
						<option value="Partenon">Partenon</option>
					</select>
				</div>

				<div class="form-group col-md-2">
					<label for="registroinicio">1º Registro</label> <input
						class="form-control" type="text" th:field="*{registroinicio}"
						id="registroinicio" name="registroinicio" placeholder="dd/mm/yyyy" />
				</div>
				<div class="form-group col-md-2">
					<label for="registrofim">2º Registro</label> <input
						class="form-control" type="text" th:field="*{registrofim}"
						id="registrofim" name="registrofim" placeholder="dd/mm/yyyy" />
				</div>
				<div class="form-group col-md-2">
					<button type="submit" class="btn btn-primary" id="botao">Consultar</button>
				</div>
			</div>
		</form>


		<h4>Resultado</h4>

		<div id="total">
			Total:<span
				th:text="|${lista.getNumberOfElements()} de ${lista.getTotalElements()}|"></span>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Nº</th>
					<th scope="col">Data</th>
					<th scope="col">Hora</th>
					<th scope="col">Turno</th>
					<th scope="col">Cód</th>
					<th scope="col">Setor</th>
					<th scope="col">Guarda</th>
				</tr>
			</thead>
			<tbody>
				<tr scope="row" th:each="item:${lista}">
					<td><a href="/ocorrencia/${item.id}"
						th:href="@{/ocorrencia/__${item.id}__}"
						th:text="|${item.numero}/${#dates.format(item.dataRegistro,'yyyy')}|">01/2017</a></td>
					<td th:text="${#dates.format(item.data,'dd/MM/yyyy')}">01/01/2017</td>
					<td th:text="${#dates.format(item.hora,'HH:mm')}">12:20</td>
					<td th:text="${item.turno}">Tarde</td>
					<td th:text="${item.codigo}">12 - Teste de inclusão</td>
					<td th:text="${item.setor}">TJRS</td>
					<td th:text="${item.usuario}">Xavier</td>
				</tr>
			</tbody>
		</table>


		<nav id="nav">
			<ul class="pagination">

				<li class="page-item" th:if="${page.getPageNumber()-1}>=2"
					th:onclick="'addPagina(\'1\')'">1</li>

				<li class="page-item" th:if="${page.getPageNumber()-1}>=1"
					th:onclick="'addPagina(\'__${page.getPageNumber()-1}__\')'"><span
					class="page-link" th:text="${page.getPageNumber()-1}">1</span></li>

				<li class="page-item" th:if="${page.getPageNumber()}>=1"
					th:onclick="'addPagina(\'__${page.getPageNumber()}__\')'"><span
					class="page-link" th:text="${page.getPageNumber()}">2</span></li>

				<li class="page-item"><span class="page-link"
					th:text="${page.getPageNumber()+1}">3</span></li>

				<li class="page-item"
					th:if="${lista.getTotalPages() >= page.getPageNumber()+2}"
					th:onclick="'addPagina(\'__${page.getPageNumber()+2}__\')'"><span
					class="page-link" th:text="${page.getPageNumber()+2}">4</span></li>

				<li class="page-item"
					th:if="${lista.getTotalPages() >= page.getPageNumber()+3}"
					th:onclick="'addPagina(\'__${page.getPageNumber()+3}__\')'"><span
					class="page-link" th:text="${page.getPageNumber()+3}">5</span></li>

				<li class="page-item"
					th:if="${lista.getTotalPages() >= page.getPageNumber()+4}"
					th:onclick="'addPagina(\'__${lista.getTotalPages()}__\')'"><span
					class="page-link" aria-hidden="true"
					th:text="__${lista.getTotalPages()}__">U</span></li>
			</ul>
		</nav>

	</div>


</body>
</html>