<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous" />
	
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>


</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Simples</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>

		<div class="container" style="padding: 20">
			<h1>404 - Página não Localizada</h1>
			<h2>Simples - Sistema de Ocorrências para a Guarda</h2>
			<p>Página perdida na nuvem reveja a url buscada se o problema
				persistir entre em contato com a manutenção do sistema.</p>
			<p>e-mail:joao.fpx@hotmail.com</p>
			<p>
				<a href="javascript:window.history.go(-1)" class="btn btn-primary">Voltar</a>
			</p>
			<p></p>

			<h1 th:text="${errorCode}">404</h1>
			<p th:utext="${errorMessage}">Error
				java.lang.NullPointerException</p>
		</div>

</body>
</html>