<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<style>
#botao {
	position: relative;
	top: 15;
}
</style>

<title>Ola Mundo</title>
</head>
<body>

	<h1>Ola Mundo!</h1>
	<h2>Spring Boot</h2>
	<h3>------Simples--------</h3>

	<ul>
		<li><a href="#" th:href="@{/ocorrencia}">Registrar</a></li>
		<li><a href="#" th:href="@{/ocorrencia/lista}">Listar</a></li>
		<li><a href="#" th:href="@{/usuario}">Adicionar Usuário</a></li>
		<li><a href="#" th:href="@{/usuario/lista}">Lista de Usuários</a></li>
	</ul>	




</body>
</html>