<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet"
	href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
	integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
	crossorigin="anonymous" />

<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/menu.css" th:href="@{/css/menu.css}" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
	th:src="@{/js/jquery-3.2.1.min.js}"></script>

<style type="text/css">
body {
	margin: 0;
	background-color: gray;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#box {
	background-image: url('../images/login.jpg');
	width: 400px;
	height: 300px;
	padding: 20px;
	border-radius: 10px;
}

#box form {
	width: 200;
	margin: 50 0 0 130;
	padding: 50;
}
#box form input{
margin:2;
padding: 5px;
	border-radius: 10px;
}
</style>
</head>
<body>
	<div id="box">
		<form th:action="@{/login}" method="post">
			<h2>Simples</h2>
			<div th:if="${param.error}">Login ou usuário é invalido.</div>
			<div th:if="${param.logout}">Você saiu com sucesso..</div>
			<input type="text" id="username" name="username" placeholder="Usuário"
				autofocus="autofocus" required="required" /><input type="password"
				id="password" name="password" placeholder="Senha"
				required="required" /> <input type="submit"
				value="Entrar" />
		</form>
	</div>
</body>
</html>