<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous" />

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
	integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
	integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
	crossorigin="anonymous"></script>


<script type="text/javascript">
	function addPagina(p) {
		$("#pagina").val(p);
		$("form").submit();
	}
</script>

<title>Lista de Pessoas</title>
</head>
<body>

	<div th:replace="fragmentos/menu"></div>
	<div class="container" style="padding: 20">

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Pessoas</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<form class="form-inline my-2 my-lg-0" th:action="@{/pessoa/lista}"
					method="GET" th:object="${view}">
					<input type="hidden" th:field="*{pagina}" value="1" name="pagina"
						id="pagina" /> <input class="form-control mr-sm-2" type="search"
						aria-label="Search" th:field="*{nome}" />
					<button class="btn btn-primary my-2 my-sm-0" type="submit">Pesquisar</button>
				</form>
			</div>
		</nav>



		<form method="GET" class="form" th:object="${view}">
			<div class="input-group">
				<div id="total">
					Total:<span
						th:text="|*{lista.getNumberOfElements()} de *{lista.getTotalElements()}|"></span>
				</div>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Nº</th>
						<th scope="col">Nome</th>
						<th scope="col">RG</th>
						<th scope="col">CPF</th>
					</tr>
				</thead>
				<tbody>
					<tr scope="row" th:each="item:*{lista}">
						<td><a href="/pessoa/${item.id}"
							th:href="@{/pessoa/__${item.id}__}" th:text="${item.id}">1</a></td>
						<td th:text="${item.nome}">12 - Teste de inclusão</td>
						<td th:text="${item.rg}">TJRS</td>
						<td th:text="${item.cpf}">Xavier</td>
					</tr>
				</tbody>
			</table>
			<nav id="nav">
				<ul class="pagination">

					<li class="page-item" th:if="*{page.getPageNumber()-1}>=2"
						th:onclick="'addPagina(\'1\')'">1</li>

					<li class="page-item" th:if="*{page.getPageNumber()-1}>=1"
						th:onclick="'addPagina(\'__*{page.getPageNumber()-1}__\')'"><span
						class="page-link" th:text="*{page.getPageNumber()-1}">1</span></li>

					<li class="page-item" th:if="*{page.getPageNumber()}>=1"
						th:onclick="'addPagina(\'__*{page.getPageNumber()}__\')'"><span
						class="page-link" th:text="*{page.getPageNumber()}">2</span></li>

					<li class="page-item"><span class="page-link"
						th:text="*{page.getPageNumber()+1}">3</span></li>

					<li class="page-item"
						th:if="*{lista.getTotalPages() >= page.getPageNumber()+2}"
						th:onclick="'addPagina(\'__*{page.getPageNumber()+2}__\')'"><span
						class="page-link" th:text="*{page.getPageNumber()+2}">4</span></li>

					<li class="page-item"
						th:if="*{lista.getTotalPages() >= page.getPageNumber()+3}"
						th:onclick="'addPagina(\'__*{page.getPageNumber()+3}__\')'"><span
						class="page-link" th:text="*{page.getPageNumber()+3}">5</span></li>

					<li class="page-item"
						th:if="*{lista.getTotalPages() >= page.getPageNumber()+4}"
						th:onclick="'addPagina(\'__*{lista.getTotalPages()}__\')'"><span
						class="page-link" aria-hidden="true"
						th:text="__*{lista.getTotalPages()}__">U</span></li>
				</ul>
			</nav>
		</form>

	</div>


</body>
</html>