<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous" />

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
	integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
	integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
	crossorigin="anonymous"></script>

<title>Envolvido</title>
</head>
<body>

	<div th:replace="fragmentos/menu"></div>

	<h2>Cadastro de Pessoa</h2>
	<div class="container">
		<form method="POST" th:object="${view}" th:action="@{/pessoa/salvar}">

			<input type="hidden" id="id" class="form-control" th:field="*{id}" />
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />

			<div class="form-group">
				<label for="nome">Nome</label> <input type="text" id="nome"
					class="form-control" th:field="*{nome}" />
			</div>
			<div class="form-group">
				<label for="rg">Rg</label> <input type="text" id="rg"
					class="form-control" th:field="*{rg}" />
			</div>
			<div class="form-group">
				<label for="cpf">Cpf</label> <input type="text" id="cpf"
					class="form-control" th:field="*{cpf}" />
			</div>
			<div class="form-group">
				<label for="endereco">Endereco</label> <input type="text"
					id="endereco" class="form-control" th:field="*{endereco}" />
			</div>
			<div class="form-group">
				<label for="numero">Nº</label> <input type="text" id="numero"
					class="form-control" th:field="*{numero}" />
			</div>
			<div class="form-group">
				<label for="complemento">Compl</label> <input type="text"
					id="complemento" class="form-control" th:field="*{complemento}" />
			</div>
			<div class="form-group">
				<label for="cep">CEP</label> <input type="text" id="cep"
					class="form-control" th:field="*{cep}" />
			</div>
			<div class="form-group">
				<label for="bairro">Bairro</label> <input type="text" id="bairro"
					class="form-control" th:field="*{bairro}" />
			</div>
			<div class="form-group">
				<label for="cidadeUF">Cidade/UF</label> <input type="text"
					id="cidadeUF" class="form-control" th:field="*{cidadeUF}" />
			</div>
			<div class="form-group">
				<label for="telefone">Telefone</label> <input type="text"
					id="telefone" class="form-control" th:field="*{telefone}" />
			</div>
			<div class="form-group">
				<label for="celular">Celular</label> <input type="text" id="celular"
					class="form-control" th:field="*{celular}" />
			</div>
			<div class="form-group">
				<label for="email">Email</label> <input type="text" id="email"
					class="form-control" th:field="*{email}" />
			</div>
			<div class="form-group">
				<label for="obs">Obs</label> <input type="text" id="obs"
					class="form-control" th:field="*{obs}" />
			</div>
			<div class="form-group">
						<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
							<ul>
								<li th:each="err : ${#fields.detailedErrors()}"
									th:text="${err.message}"></li>
							</ul>
						</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary" id="salvar">Salvar</button>
			</div>
		</form>
	</div>
</body>
</html>